/*NAVIGATION*/

/*nav colors*/
#navBtnTb{
    background-color: #d6ebff; 
}

#navBtnNw{
    background-color: #c3c4ec;  
}

#navBtnBeh{
    background-color: #c0eac4;
}

#navBtnBer{
    background-color: #feeac4;
}

/*nav colors on hover*/
#navBtnTb a:hover{
    background-color: #f0f8ff;
}

#navBtnNw a:hover{
    background-color: #e4e4f5;
}

#navBtnBeh a:hover{
    background-color: #ddf0de;
}

#navBtnBer a:hover{
    background-color: #fef2dd;
}


/*textbanner*/
.panel-body{
    background-color: rgba(225, 225, 225, .4);
    font-family: Verdana, Times, sans-serif;
    font-size: 15spx;
    font-variant-caps: small-caps;
    color: #4c4c4c;    
}



/*nav colors
#navBtnTb{
    background-color: #d6ebff;
    border-radius: 20px;
    border: solid 1px grey;
    margin-bottom: -2px;
 
}

#navBtnNw{
    background-color: #c3c4ec;
    border-radius: 20px;
    border: solid 1px grey;
    margin-bottom: -2px;
  
}

#navBtnBeh{
    background-color: #c0eac4;
    border-radius: 20px;
    border: solid 1px grey;
    margin-bottom: -2px;
}

#navBtnBer{
    background-color: #feeac4;
    border-radius: 20px;
    border: solid 1px grey;
    margin-bottom: -2px;
}*/


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

