/*BASIC LAYOUT (mobile = default, no query needed)*/
.container{
    /*border: solid 1px blue;*/
    border: solid 2px grey;
    border-radius: 20px;
    height: auto;
    /*WIE HEIGHT GENAU BIS ZUM NAV-BOTTOM? (device diff!)*/
    min-height: 680px;  
}

nav{
    /*border: solid 2px grey;*/
    border-radius: 20px;
}

header{
    /*border: solid 1px orange ;*/ 
    height: 60px;
    padding-top: 10px;
}

main{
    /*border: solid 1px yellow;*/
    height: auto;
    padding-left: 20px;
}

/*NAVIGATION*/

/*navImg center align*/
.img-responsive{
    margin: 0 auto;
}

#navBtnMob div a img{
    width: 100%;
    max-width: 28px;
}

.navbar{
    margin-bottom: -7px;
}

/*HEADER*/

#headerPageIconMobTab{
    width: 100%;
    max-width: 80px;
}

#headerLetterIcon img{
    width: 100%;
    max-width: 25px;
}
