@media(min-width:768px){
    /*BASIC LAYOUT*/
    
    header{
        height: 90px;
    }

    /*NAVIGATION*/
    
    #navBtn div a img{
        max-width: 50px;
    }

    /*HEADER*/
    
    #headerPageIcon{
        max-width: 70px;
    }
    #headerLetterIcon{
        max-width: 50px;
    }

    /*DATEPICKER*/
    
    #datepicker{
        font-size: 18px;
        width: 100px;
    }
}

