@media(min-width:768px){

    /*NAVIGATION*/
    #navBtnMob div a img{
        width: 100%;
        max-width: 50px;
    }

    /*HEADER*/
    #headerPageIconMobTab{
        width: 100%;
        max-width: 100px;
    }
    #headerLetterIcon img{
        width: 100%;
        max-width: 35px;
    }
}

